<!-- FORMULARIO -->
<form>
  <!-- IZQUIERDA -->
  <div class="izquierda">
    <div>
      <label for="">Proveedor</label>
      <div>
        <input type="text" name="" id="" />
        <button>+</button>
      </div>
    </div>

    <div>
      <label for="">Contacto</label>
      <div>
        <input type="text" name="" id="" />
      </div>
    </div>

    <div>
      <label for="">Datos de entrega</label>
      <div>
        <input type="text" name="" id="" />
      </div>
    </div>
  </div>

  <!-- DERECHA -->
  <div class="derecha">
    <div class="fecha-entrega">
      <label for="">Fecha de entrega</label>
      <div>
        <input type="date" name="" id="" />
      </div>
    </div>
    <div>
      <label for="">Lugar de firma</label>
      <input type="checkbox" name="" id="">
    </div>

    <div>
      <label for="">Condiciones y Observaciones</label>
      <div>
        <input type="text" name="" id="" />
      </div>
    </div>
  </div>

</form>
