<form action="">
  <div class="titles">
    <div>Provedor: (Provedor Seleccionado) </div>
    <div>Fecha de entrega: (Fecha de entrega seleccionada)</div>
  </div>
  <div class="columnas">
    <div>
      <label for="">Descripción</label>
      <div>
        <input type="text" name="" id="" />
      </div>
    </div>
    <div>
      <label for="">Unidad de Medida</label>
      <div>
        <input type="text" name="" id="" />
      </div>
    </div>
    <div>
      <label for="">IVA</label>
      <div>
        <input type="text" name="" id=""  style="width: 3rem !important;"/>
      </div>
    </div>
    <div>
      <label for="">Cantidad</label>
      <div>
        <input type="text" name="" id="" />
      </div>
    </div>
    <div>
      <label for="">Precio Lista</label>
      <div>
        <input type="text" name="" id="" />
      </div>
    </div>
    <div>
      <label for="">Importe</label>
      <div>
        <input type="text" name="" id="" style="width: 3rem !important;" />
      </div>
    </div>
    <button class="btn-borrar">X</button>
  </div>
  <div class="agregar">
    <button class="btn-agregar">+</button>
    <label for="">Ordenar otro producto</label>
  </div>
  <div class="totales">
    <div>
      <label for="">Subtotal</label>
      <input type="text">
    </div>
    <div>
      <label for="">IVA</label>
      <input type="text">
    </div>
    <div>
      <label for="">Total</label>
      <input type="text">
    </div>

  </div>
</form>
